 # 1. What are data structures, and why are they important?
 Ans- Data structures are ways to organize and store data efficiently for access and modification. They are important because they help solve problems efficiently, manage large amounts of data and improve code performance.

# 2.Explain the difference between mutable and immutable data types with examples?

The difference between mutable and immutable data types in programming especially in Python lies in whether the data can be changed after it is created.
Def: These can be changed after they are created.
Ex : list, dict, set
my_list = [1, 2, 3]
my_list[0] = 100
print(my_list)  
result: [100, 2, 3]

def: Definition: These cannot be changed after they are created.
Ex: int, float, str, tuple, bool
my_str = "hello"
Trying to change the first character will cause an error
my_str[0] = 'H'    # This will raise a TypeError
my_str = "Hello"   # This creates a new string object
print(my_str)      # Output: Hello
Strings are immutable — you can’t change them in-place. Assigning a new value creates a new object.

 # 3. What are the Main differences between lists and tuples ?
 Ans - my_list = [1, 2, 3]  
my_list[0] = 100  # Ye allowed hai  
print(my_list)  # Output: [100, 2, 3]
hence, list is mutability you can change the stored data to in the list.

my_tuple = (1, 2, 3)  
my_tuple[0] = 100  # its try to change the data but here it is a tuple stored data so it can be chnaged so it throw error.
henace, tuple is immutable.

  # 4. Describe how dictionaries store data?
 Dictionaries store data in key-value pairs using a hash table. Each key is hashed to a memory location where its value is stored.

 # 5.Why might you use a set instead of a list in Python?
 To store unique elements only to perform faster membership tests in is faster in sets.

6.# What is a string in Python, and how is it different from a list?
 string is a sequence of characters and it's is immutable
 A list is a sequence of elements and it's mutable and can contain different types.
 a = "laxmi kant" its is string
 b = ["l","a","x","m","i","k","A","N","T"] it's is list.

 # 7.How do tuples ensure data integrity in Python?
  Ans- Because tuples are immutable, their data can't be altered accidentally, ensuring that values remain consistent.
# 8. What is a hash table, and how does it relate to dictionaries?
 Ans-A hash table maps keys to values using a hash function. Dictionaries in Python are built on hash tables to provide constant-time lookup.
# 9. Can lists contain different data types in Python?
 Ans- yes list can contain different data type
 a = [1,2.3,2.3j,"laxmi"]
 # 10. Explain why are strings immutable in Python?
Ans- For memory efficiency, thread safety, and because they are frequently used as dictionary keys (which require immutability for hashing).
 # 11. What advantages do dictionaries offer over lists for certain tasks?
 Faster lookups using keys?
Ans- Key-value mapping for better data representation More semantic clarity when data has identifiers.
 # 12. Describe a scenario where using a tuple would be preferable over a list
Ans- A tuple would be preferable over a list when you need to represent a fixed immutable sequence of data like a coordinate point or a set of constants.
 # 13. How do sets handle duplicate values?
Ans- Sets automatically remove duplicates.
 s = {1, 2, 2, 3}     # output: {1, 2, 3}
 # 14. How does the “in” keyword work differently for lists and dictionaries?
Ans- "in" list Checks if the value is present
 list = [1,2,3]
 2 in list result: True
 "in" idictionaries Checks if the key is present or not
 dict = {"name":"laxmi","age": 30}
  name in dict result: True

# 15. Can you modify elements of a tuple? Why or why not?
Ans - No. we cannot modify Tuples becasue they are immutable so once created elements can't be changed.
# 16. What is a nested dictionary? Example use case?
Ans- A nested dictinory means dictionary inside another dictionary.
 students = {"101": {"name": "Amit", "age": 20},"102": {"name": "Priya", "age": 22}} result: {'101':
 {'name': 'Amit', 'age': 20}, '102': {'name': 'Priya', 'age': 22}}
 17. Describe the Time complexity of accessing elements in a dictionary
Ans- Average-case: O(1) Accessing an item in a dictionary is usually very fast
  Worst-case (rare): O(n) due to hash collisions.
 18. In what situations are lists preferred over dictionaries?
Ans- When data has no unique key.
 When order matters (before Python 3.7).
 For simple sequences like numbers, names, etc.
 19. Why are dictionaries considered unordered, and how does that affect retrieval?
 Ans- Before Python 3.7, dictionaries did not maintain insertion order. From Python 3.7+, they preserve
 order but still focus on key-based access. Retrieval is based on key, not position.
 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 Ans- List: Access by index (position).
 Dictionary: Access by key.
 a = ['grapes', 'banana']
 print(l[1])        # ouput: banana
 b = {'fruit': 'banana'}
 print(d['fruit'])  #result: banana

In [ ]:
# practical question.
# wrint a code to create a string with your name and print it ?

In [ ]:
a = "laxmikant"
print(a)

laxmikant

In [ ]:
# write a code to find the lenth of the string "hello world" ?
a= "hello world"
print(len(a))

11

In [ ]:
# write a code to slice the first 3 character from the string  "python programing" ?
str= "python programing"
print(str[0:3])

pyt

In [ ]:
# write a code to convert the string "hello" to upper case?
str = "laxmi_kant"
print(str.upper())

LAXMI_KANT

In [ ]:
# write a code to replace the word "apple" with "ornage" in the string "i like apple" ?
string= "i like apple"
print(string.replace("apple", "orange"))

i like orange

In [ ]:
# write a code to create a list with number to 1 to 5 and print it ?
list=[2,4,6,8,10,12]
print(list)

[2, 4, 6, 8, 10, 12]

In [ ]:
#write a code to append the number 10 to the list[1,2,3,4,5,6,7,8,9]
list=[1,2,3,4,5,6,7,8,9]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# write a code to remove the number 3 from the list [1,2,3,4,5] ?
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# wirte a code to access the second element in the list ['a','b','c','d']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
# write the code to reverse the list [10,20,30,40,50]?
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# write the code to create a tuple with the element 100,200,300 and print it?
tuple =(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# write the code to create the second to list element of the tuple('red','green','blue','yellow') ?
tuple=('red','green','blue','yellow')
print(tuple[1])

green

In [ ]:
# write a code to find the mininmum number of the tuple(10,20,30,40)
tuple=(10,20,30,40)
print(min(tuple))

10

In [ ]:
# write a code to find the index of the element "cat" in the tuple (dog, cat,yellow) ?
tuple=('dog','cat', 'yellow')
print(tuple.index("cat"))

1

In [ ]:
# write the code to create a tuple containing three element fruit and check if ; "kiwi" is in it ?
tuple = ("apple","banana",'kiwi')
print("kiwi" in tuple)

True

In [ ]:
# Write the code to create a set with the element "a",'b','c', in it?
set={'a','b','c','d'}
print(set)

{'a', 'b', 'c', 'd'}

In [ ]:
# write a code to clear all element from the set {1,2,3,4}
set={1,2,3,4}
set.clear()
print(set)

set()

In [ ]:
# write the code to remove the element 4 from the set {1,2,3,4}
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#write the code to find the union of the set {1,2,3,} and{3,4,5}
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# write the code to find interatction of the set {1,2,3} and {2,3,4} ?
set1={1,2,3}
set2={2,3,4}
set3=set1.intersection()
print(set3)

{1, 2, 3}

In [ ]:
# write the code to create dictionary with the key"name" in the dictionary{"name":"john", "age":25}
dict={"name":"john", "age":25}
print(dict)

{'name': 'john', 'age': 25}

In [ ]:
# write the code to access the value pair "country':"usa", to the dictionary{"name":'alice":"age": 25}
dict= {"name":"alice",'age':25,"country":"usa"}
print(dict["country"])

usa

In [ ]:
# write the code to add a new key value pair "country":"usa" to the dictionary {"name":"john","age": 25} ?
dict= {"name":"john","age": 25}
dict["country"]="usa"
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [ ]:
 # write the code to access the value associated with key "name" in the dictionary {"name":"john", "age":30}?
 dict= {"name":"john","age":30}
 print(dict["name"])

john

In [ ]:
# write acode to check if the key "city" exist in the dictionary, print them all ?
dict= {"city":"jaipur","state":"rajasthan"}
if "city" in dict:
    print(" exist city")
else:
    print("not exist")

 exist city

In [ ]:
# write a code to remove the key "age" from the ditionary{"name":"alice","city":"new york", "age":22}
dict= {"name":"alice","city":"new york", "age":22}
dict.pop ("age")
print(dict)

{'name': 'alice', 'city': 'new york'}

In [ ]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
real =[1, 2, 3]
real2 = (4, 5, 6)
dictionary = {"key1": "value1", "key2": "value2"}
print(real)
print(real2)
print(dictionary)

[1, 2, 3]
(4, 5, 6)
{'key1': 'value1', 'key2': 'value2'}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in asce
chasta = [22,55,11,5,98]
a.sort()
print(a)

[5, 11, 22, 55, 98]

In [ ]:
 # 28. Write a code to create a list with strings and print the element at the third index
 my_list = ["apple", "banana", "cherry", "date", "elderberry"]
 print(my_list[2])

cherry

In [ ]:
 # 29. Write a code to combine two dictionaries into one and print the result.
 dict1 = {'a': 1, 'b': 2}
 dict2 = {'c': 3, 'd': 4}
 combine = {**dict1, **dict2}
 print(combine)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
# 30. Write a code to convert a list of strings into a set.
list= ["apple", "banana", "cherry", "apple", "banana"]
set1 = set(list)
print(set1)

{'banana', 'apple', 'cherry'}